{
  "extends": "",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["import", "promise"],
  "rules": {
    "no-console": 0,
    "no-unused-vars": 1
  },
  "globals": {
    "K": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  }
}
