* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
  background: #111;
}

.alpha {
  height: 100px;
  width: 100px;
  background: rebeccapurple;
}

.blur {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: red;
}

.top {
  position: absolute;
  left: 200px;
  height: 100px;
  width: 100px;
  background: rgb(51, 0, 255);
}

.transform {
  height: 100px;
  width: 100px;
  background: yellow;
  transform: rotateX(10deg);
}

.reverse {
  position: absolute;
  right: 0;

  height: 100px;
  width: 100px;

  background: rgb(57, 158, 111);
}

.width {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  height: 100px;
  width: 100px;
  background: rgb(162, 4, 157);

  will-change: width, height;
}

.circle {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  height: 100px;
  width: 100px;

  background: white;
  fill: none;
  stroke: #111;
  stroke-width: 2px;
}
