*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

#root {
  min-height: 300vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    184deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );

  will-change: transform;
}

.box {
  width: 120px;
  height: 120px;
  background: red;
}
