* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* overflow: hidden; */
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #111;
  color: #eee;
}

.container {
  width: 100%;
  min-height: 300vh;

  background: linear-gradient(
    180deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.circle {
  width: 100px;
  height: 30vh;
  border-radius: 8px;
  background-color: #29a02f;
}

.box {
  width: 100px;
  min-height: 20vh;

  padding: 5px;

  background-color: #fff;
  border: 5px solid #eee;

  will-change: transform;
}
